<div>Меню</div>
<ul>
    <li><a href="/">Главная</a></li>
    <li><a href="/about/">О нас</a></li>
    <li><a href="/contacts">Контакты</a></li>
    <li><a href="/category_list/">Список категорий</a></li>
    <li><a href="/course_list/">Список курсов</a></li>
    <li><a href="/create_category/">Создание категории</a></li>
    <li><a href="/create_subcategory/">Создание подкатегории</a></li>
    <li><a href="/create_course/">Создание курса</a></li>
    <li><a href="/create_student/">Регистрация студента</a></li>
    <li><a href="/add_student/">Запись студента на курс</a></li>
    <li><a href="/student_list/">Список студентов</a></li>
</ul>