{% extends "base.html" %}
{% block body %}
{% include "includes/inc_main_menu.html" %}
    <ul>
        {% for category in category_list %}
        <li>
            <b>{{category.name}}:</b> <span>общее количество курсов: {{category.course_count()}}</span>
            <ul>
                {% for subcategory in category.subcategories_set %}
                <li>
                    <b>{{subcategory.name}}:</b> <span>количество курсов: {{subcategory.course_count()}}</span>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
{% endblock %}