<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
</head>
<body>
    <h1>Контакты</h1>
    <div>Меню</div>
    <ul>
        <li><a href="index.html">Главная</a></li>
        <li><a href="about.html">О нас</a></li>
        <li><a href="catalog.html">Каталог</a></li>
        <li><a href="#">Контакты</a></li>
    </ul>
    <h3>Форма POST-запроса</h3>
    <form method="post">
        <p>Тема сообщения:</p>
        <input name="theme" size="48"><br><br>
        <textarea name="text" cols="50" rows="10" placeholder="Текст сообщения"></textarea><br>
        <p>Ваша почта:</p>
        <input name="email" type="email"><br><br>
        <input type="submit">
        <input type="reset">
    </form>
</body>
</html>