{% extends "base.html" %}
{% block body %}
{% include "includes/inc_main_menu.html" %}
    <form method="post">
        <input class="element" type="text" name="name" placeholder="Название курса"><br>
        <span>Тип курса</span>
        <select class="element" name="course_type">
            {% for item in courses_type %}
                <option value="{{item.id}}">{{item.name}}</option>
            {% endfor %}
        </select><br>
        <span>Подкатегория(категория)</span>
        <select class="element" name="subcategory_id">
            {% for item in subcategories %}
                <option value="{{item.id}}">{{item.name}}({{item.category.name}})</option>
            {% endfor %}
        </select><br>
        <button type="submit">Сохранить</button>
    </form>
{% endblock %}